<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= title %> </title>
    <!-- '/' below in the beginning refers to the root of 'assets' path we setted up in index.js -->
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    
    <%- include('_header'); %>

    <!-- use body of home or user_profile etc. -->
    <%- body %>

    <%- include('_footer'); %>

</body>
</html>