#layout-footer {
  color: white;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start;

  a {
    color: white;
    text-decoration: none;
  }

  .footer-nav {

    ul {
      list-style: none;
    }
  }
}